@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,a {
  font-family: "Poppins", sans-serif ;
}
/* root variable */


:root{
  --sad-primary-color: #003a59;
  --sad-secondary-color: #7BA631;
  --sad-button-color: #F0E400;
}
p{
  color: var(--sad-primary-color);
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}
  .navbar-global {
  background-color: #003a59;
  border: #003a59;
}
  span.nav-label {
  margin-left: 12px;
}
  .navbar-global .navbar-brand {
  color: white;
}
  .navbar-brand {
  height: inherit !important;
  max-width: 100%;
}
  .navbar-global .navbar-user > li > a {
  color: white;
}

  .navbar-primary {
  background-color: #003a59;
  bottom: 0px;
  left: 0px;
  position: fixed;
  top: 50px;
  width: 250px;
  z-index: 8;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

  .navbar-primary.collapsed {
  width: 60px;
}
nav.navbar-primary.collapsed
  a.btn-expand-collapse
  span.glyphicon.glyphicon-menu-left:before {
  content: "\e258";
}
nav.navbar-primary.collapsed
  a.btn-expand-collapse
  ul.navbar-primary-menu.navbar-nav
  a
  .collapse-img {
  width: 100px !important;
}
nav.navbar-primary.collapsed ul.navbar-primary-menu.navbar-nav li {
  padding: 0 !important;
}
nav.navbar-primary.collapsed
  ul.navbar-primary-menu.navbar-nav
  img.collapse-img {
  display: none;
}

img.collapse-img-collapse {
  display: none;
}
nav.navbar-primary.collapsed
  ul.navbar-primary-menu.navbar-nav
  img.collapse-img-collapse {
  display: block;
  width: 50px;
}
nav.navbar-primary.collapsed ul.navbar-primary-menu.navbar-nav a.navbar-brand {
  padding: 15px 0;
  margin: 0 auto;
}
ul.navbar-primary-menu.navbar-nav a .collapse-img {
  width: 100%;
  max-width: 100%;
}

  .navbar-primary.collapsed .glyphicon {
  font-size: 22px;
}

  .navbar-primary.collapsed .nav-label {
  display: none;
}

  .btn-expand-collapse {
  position: absolute;
  display: block;
  right: -12px;
  top: 9%;
  color: #003a59;
  text-align: center;
  border: 1px solid #248cab;
  padding: 3px;
  border-radius: 20px;
  background: #ffffff;
  width: 35px;
  height: 35px;
  font-size: 22px;
}
ul.navbar-primary-menu.navbar-nav {
  width: 90%;
  float: right;
}
ul.navbar-primary-menu.navbar-nav li.nav-item {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 5px;
}
ul.navbar-primary-menu.navbar-nav li.nav-item.active {
  background-color: #ffffff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
ul.navbar-primary-menu.navbar-nav li.nav-item.active a {
  color: #004463;
}
  .btn-expand-collapse:hover,
.btn-expand-collapse:focus {
  background-color: white;
  color: #004463;
}

  .btn-expand-collapse:active {
  background-color: white;
}

  .navbar-primary-menu,
  .navbar-primary-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .navbar-primary-menu li a {
  display: flex;
  padding: 15px 18px;
  text-align: left;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: flex-start;
}

  .navbar-primary-menu li a:hover {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-decoration: none;
  background-color: #ffffff;
  color: #004463;
}

  .navbar-primary-menu li a .glyphicon {
  margin-right: 6px;
}

  .navbar-primary-menu li a:hover .glyphicon {
  color: #004463;
}

  .main-content {
  margin-top: 60px;
  margin-left: 250px;
}

  .collapsed + .main-content {
  margin-left: 60px;
}

/* body header */
body {
  background-color: #f8f8f8;
}
  .page-title {
  background-color: #ffffff;
  padding: 10px 0;
}
  .page-title h1 {
  font-weight: 500;
  text-align: left;
}
  .main-content {
  background-color: #f8f8f8;
}
  #con-tainer {
  width: 9999px;
  padding: 0 60px;
}
section.content-main-body {
  margin-left: 15px;
  margin-right: 15px;
}
  .subscribeUpsell {
  border-radius: 18px;
  color: rgb(255, 255, 255);
  background: #004463;
  text-align: center;
  padding: 14px;
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0;
}
  .subscribeUpsell a {
  font-family: "Catamaran", sans-serif;
  font-size: 25px;
  font-weight: 600;

  color: #f8f8f8;
}

/* percentage circle */

/* circle */

/* svg.progress_bar {
  width: 82px;
  height: 82px;
} */

html {
  text-align: center;
  color: #ddd;
  font-family: "Montserrat", sans-serif;
}
.progress_bar {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  transform: rotate(-90deg) rotateX(180deg);
}

.progress_bar circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s ease;
  stroke: #004463;
  stroke-width: 18px;
}

.progress_bar .bar {
  stroke: #d9d9d9;
}
.progressdiv {
  position: relative;
}

  .progressdiv:after {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  content: attr(data-percent) " %";
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
  .circle-box-percentage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* percentage circle end */

/* Log-section */
  .white-rounded {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 7px 15px 10px 10px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .white-rounded.dash-details p {
  font-size: 22px;
  font-family: inherit !important;
  font-weight: 500;
}

  .white-rounded.dash-details span {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2;
}
  .white-rounded.dash-details sup svg {
  color: #004463;
}
.white-rounded.dash-banner {
  background: url(https://www.trainingexpress.org.uk/wp-content/uploads/2021/09/xo-bg-1.png)
    no-repeat;
  padding: 15px 15px 15px 15px;
  background-size: cover;
  border-radius: 15px;
  color: #ffffff;
}
  .white-rounded.dash-banner p {
  font-family: inherit !important;
  font-size: 21px;
  color: #fff;
}

  .white-rounded.dash-banner a.btn.btn-outline-light {
  color: #f8f9fa;
  border-radius: 25px;
  border-width: 2px;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

  .white-rounded.dash-banner .btn-outline-light:hover {
  color: #1a1a1a !important;
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

  .white-rounded.dash-banner .banner-number img {
  height: 80px;
}

  .banner-offer {
  margin: 40px 0;
  /* box-shadow: -18px -18px 5px -13px rgb(107 44 44 / 37%); */
}

  .banner-offer a img {
  width: 100%;
  max-width: 100%;
}
/* other courses */
  .other-course {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 35px 15px 35px 25px;
  margin: 40px 0;
}
.other-course h3.Title {
  font-family: "Caveat Brush";
  font-size: 32px;
  text-align: left;
  margin-bottom: 40px;
}
  .category-box {
  width: 100%;
  height: 335px;
  background-size: cover;
  border-radius: 20px;
  background-position: center center;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;

  background-repeat: no-repeat;
}
  .category-box .Popular-title-top {
  background: rgb(123 166 49);
  border-top-right-radius: 20px;
  padding: 10px 0;
  font-weight: 300;
  border-top-left-radius: 20px;
  opacity: 1;
  transition: 0.6s ease;
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
}
  .category-box .Popular-title-bottom {
  text-align: center;
  color: #ffffff;
  background: rgb(123 166 49 / 67%);
  border-bottom-right-radius: 20px;
  padding: 10px 0;
  font-weight: 300;
  border-bottom-left-radius: 20px;
  opacity: 1;
  transition: 0.6s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
}
  .category-box .Popular-title-bottom h3 {
  color: #fff;
  font-size: 32px;
}

  .category-box .category-box:hover .popular-box-overlay {
  opacity: 1;
  cursor: pointer;
}
  .category-box .popular-box-overlay {
  opacity: 0;
  transition: 0.6s ease;
  text-align: center;
  color: #ffffff;
  background: rgb(123 166 49 );

  background-position: left bottom;
  padding: 15px 0;
  font-weight: 300;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 30px 0;
  transition: 0.6s ease;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

  .category-box .img img {
  width: 100%;
  max-width: 100%;
}

  .category-box:hover .popular-box-overlay {
  opacity: 1;
  cursor: pointer;
}
/* box hover side flip */
  .category-box .popular-box-overlay .button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .category-box
  .popular-box-overlay
  .button-box
  button.btn.btn-outline-primary.btn-lg.extra-radius:hover {
  color: #1a1a1a !important;
  border-color: #ffffff;
  background-color: #ffffff;
}

  .category-box
  .popular-box-overlay
  .button-box
  button.btn.btn-outline-primary.btn-lg.extra-radius {
  color: #ffffff !important;
  border-color: #ffffff;
  border-width: 2px;
  font-size: 16px;
  margin-bottom: 5px;
  background: transparent;
  border-radius: 30px;
  margin: 0 5px 5px;
}

  .category-box
  .popular-box-overlay
  .popular-overlay-btn-btm
  .btn-outline-primary {
  color: #000 !important;
  border-color: #F0E400;
  background-color: #F0E400;
  border-width: 2px;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-table;
  border-radius: 25px;
  margin: 0 5px;
}

  .category-box .popular-box-overlay h3 {
  color: #fff;
  font-size: 4.5rem;
 margin-bottom: 3rem;
}
  .popular-box-overlay p strong {
  font-size: 16px;
  font-family: "Catamaran", sans-serif;
  color: #fff;
}

/* LeaderBoard */
  .leaderBoard {
  display: flex;
  justify-content: space-between;
}
  .leaderBoard {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
  .leaderBoard .useFlex {
  flex: 0 0 48%;
  max-width: 48%;
  margin-right: 4%;
}
  .leaderBoard .notification:last-child {
  margin-right: 0;
}

  .leaderBoard .leaderboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.leaderBoard .leaderboard a#drop6 {
  font-family: "Catamaran", sans-serif;
  color: #1a1a1a;
  font-weight: bold;
  background-color: transparent;
  font-size: 16px;
}

  .leaderBoard
  .leaderboard
  .dropdown-menu.dropdown-menu-right
  label.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
  .leaderBoard .white-rounded.notification {
  display: flex;
  justify-content: flex-start;
}
  .leaderBoard table.table tbody tr th {
  border: none;
}
  .leaderBoard .table tbody tr td {
  text-align: left;
}

/*=======================
           👇 COURSE PAGE CODE 👇
======================== */
  .search-field button.btn.btn-primary {
  width: 100px;
  text-align: center;
  background: var(--sad-primary-color);
  height: 70px;
  line-height: 70px;
  font-size: 22px;
  color: #ffffff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

  .search-field input#txtSearch {
  border: 1px solid #f0eded;
  color: #1a1a1a;
  font-size: 22px;
  height: 70px;
  padding: 18px 0 18px 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

  .search-field input#txtSearch::placeholder {
  color: #1a1a1a;
  font-size: 22px;
}
  .search-field {
  margin: 40px 0;
}


  .progress-box {
  width: 100%;
  height: 335px;
  background-size: cover;
  border-radius: 20px;
  background-position: center center;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  background-repeat: no-repeat;
}

  .progress-box .Popular-title-top {
  background:rgb(123 166 49 );
  border-top-right-radius: 20px;
  padding: 10px 0;
  font-weight: 300;
  border-top-left-radius: 20px;
  opacity: 1;
  transition: 0.6s ease;
  color: #000000;
  position: absolute;
  top: 0;
  width: 100%;
}
  .progress-box .Popular-title-bottom {
  background: rgb(123 166 49 /67%);
  border-bottom-right-radius: 20px;
  padding: 10px 0;
  border-bottom-left-radius: 20px;
  opacity: 1;
  transition: 0.6s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
}
  .progress-box .Popular-title-bottom .sal-course-title {
  text-align: center;
  font-family: inherit;
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}
  .progress-box .progressbar {
  background-color: #a3cd8c !important;
  padding: 0;
  text-indent: 10px;
  display: flex;
  align-items: center;
}

  .progress-box .progress {
  height: 30px;
  border-radius: 25px;
  margin: 0 13px;
  display: flex;
  width: auto;
}


.progress-box a.btn.btn-outline-primary.btn-lg.extra-radius {
  color: #313b3d;
  background-color: #F0E400;
  background-image: none;
  border-color: #f8f9fa;
  border-radius: 25px;
  width: 100%;
  max-width: 200px;
  border-width: 2px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

/*
  .progress-box
  a.btn.btn-outline-primary.btn-lg.extra-radius:hover {
  background-color: #ffffff;
  color: #1a1a1a;
} */
/*=======================
           👇 My Certificates PAGE CODE 👇
======================== */
  .my-certificate {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 25px 15px 15px 25px;
  margin-bottom: 25px;
}
  .certificate-list {
  overflow-y: scroll;
}
  .certificate-list td {
text-align: left;
}
/*=======================
           👇 My Reward PAGE CODE 👇
======================== */

  .pointsEarned.pointPicker {
  display: block;
  padding: 6px 25px;
  color: #ffffff;
}
.col-12.col-md-2.text-center img {
  width: 70%;
}
.link-box a {
  color: #f8f8f8;
}
  .row.align-items-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
  .pointsEarned {
  background-color: #337ab7;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}
  .regular-full {
  margin-top: 40px;
}
  .text-center {
  text-align: center !important;
}
  .pointPicker .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
  .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

  .dropdown-item.active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
  .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
  .col-12.col-md-10 .pointsEarned {
  padding: 25px 20px 25px 40px;
}

  .points.mr-0 h2 {
  margin: 0;
  color: #ffffff;
  font-family: inherit;
}
  .points p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 0;
  color: #ffffff;
  font-family: inherit;
}

  .white-rounded.achievements {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 35px 30px 35px;
  min-height: inherit;
  display: inherit;
}

  .achievements h3,
  .claimed-rewards h3 {
  font-weight: 500;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Caveat Brush";
  text-align: left;
}

  .achievements li {
  padding-left: 25px;
  background-image: url("../images/trophy-icon.svg") ;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  list-style: none;
}
.col-12.regular-full.white-rounded.achievements ul li a:hover {
  color: #1a1a1a;
  text-decoration: underline;
  outline: 0;
}
.col-12.regular-full.white-rounded.achievements ul li a {
  color: #8a99a5;
  text-decoration: none;
}
.achievements li:hover {
  background-image: url("../images/trophy-icon-grey.svg") ;
  background-repeat: no-repeat;
  background-size: contain;
}
  .achievements ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

  .achievements p {
  font-size: 16px;
  font-family: inherit;
}

  .Claim-reward .white-rounded {
  background-color: #ffffff;

  padding: 7px 30px 10px 30px;
  text-align: left;
  display: inherit;
}

  .Claim-reward .white-rounded h3 {
  font-size: 30px;
}
  .Claim-reward {
  margin: 40px 0;
}

  .rewards-inner {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  /* opacity: 0.5; */
}
  .sal-not-active {
  opacity: 0.5;
}

.col-12.regular-full.white-rounded.achievements ul li aover {
  color: #0056b3;
  text-decoration: underline;
}
  .rewards-inner a {
  width: auto;
  margin-right: 20px;
  padding: 3px 20px;
  font-size: 18px;
  display: inline-table;
  border-radius: 20px;
}
  .rewards-inner p {
  display: inline-table;
  font-family: inherit;
}

  .rewards-inner.active {
  opacity: 1;
}

  .find-bg {
  width: 100%;
  margin-left: 15px;
  align-items: center;
  display: flex;
  min-height: 120px;
  padding: 15px 15px;
  position: relative;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 15px;
}
  .find-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
  cursor: pointer;
}
  .find-bg p {
  font-family: inherit;
  font-size: 20px;
  margin-bottom: 0;
  padding-left: 20px;
}

  .redeem {
  background: #ffffff
    url("https://www.trainingexpress.org.uk/wp-content/uploads/2021/10/gift-box.png")
    no-repeat;
  background-position: 10px center;
}
  .mycertificate {
  display: block;
}
/*====================================
           👇 Saved Courses PAGE CODE 👇
=====================================*/

  .saveHeart {
  color: #fff;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 24px;
  padding: 0px 5px;
  border-bottom-right-radius: 9px;
  line-height: 31px;
  padding-top: 2px;
}
/*====================================
           👇 sal-message box PAGE CODE 👇
=====================================*/
  .sal-message .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: "Glyphicons Halflings"; /* essential for enabling glyphicon */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
  float: right; /* adjust as needed */
  color: grey; /* adjust as needed */
}
  .sal-message .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}
  .sal-message .panel-heading {
  display: flex;
  align-items: center;
  border: none;
  color: #333;
  background-color: #ffffff;
  border-color: #fff;
  border: none;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}
  .sal-message .panel-group .panel {
  margin-bottom: 40px;
  border-radius: 10px;
  border: none;
  position: relative;
}
  .sal-message .accordion-toggle:after {
  position: absolute;
  right: -3%;
}
.sal-message .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border: none;
  text-align: left;
}
  .sal-message #accordion {
  width: 80%;
  margin: 0 auto;
}
  .sal-message .panel-heading a.btn.btn-primary {
  margin-right: 20px;
  padding: 0px 10px;
  font-size: 20px;
  color: #fff;
  background: #004463;
  font-family: inherit;
}
  .sal-message .panel-heading h3 {
  padding: 0;
  margin: 0;
}
/*=======================
           👇 UNLIMITED CODE 👇
======================== */

.wider-container h2,
.wider-container p,
.wider-container h1 {
  color: #fff;
}
  #hero {
  background: #259cc0;
  color: #fff;
  padding: 70px 0px;
  margin-top: 15px;
}
  #hero h2 {
  font-weight: 600;
  font-size: 25px;
}
  #hero h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 100;
}
  #hero p {
  font-size: 36px;
  font-weight: 600;
}
  #hero .cta {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 30px;
  border-radius: 41px;
  border: 3px solid #fff;
  color: #fff;
  margin-top: 16px;
  display: inline-block;
}
  .cta {
  background: #b2d489;
  color: #fff;
  padding: 30px 0px;
}
  #hero img {
  position: absolute;
  top: -70px;
  left: 0;
}

  .cta.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  display: none;
  left: 0;
}
  .section-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  width: 100%;
  font-family: inherit;
}
  .mt-5 {
  margin-top: 3rem;
}
  .student-counting h5 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 20px;
}
  #landing .icon svg {
  background: #259cc0;
  padding: 20px;
  font-size: 80px;
  border-radius: 100%;
  color: #fff;
}
  .con-box {
  display: flex;
  align-items: center;
}
  .col-md-6.p-3.career-course.wow.fadeIn h5 {
  font-family: inherit;
  font-size: 20px;
}
  .white-roundedd {
  background-color: #ffffff;
  border-radius: 15px;
}
  .body-con h5 {
  font-family: inherit;
  font-size: 20px;
}
  .body-con h6 {
  font-family: inherit;
  font-size: 16px;
}

  .col-md-6.p-3.career-course.wow.fadeIn h6 {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
  section#Frequently-ques {
  padding-bottom: 5%;
  margin-bottom: 5%;
}
  .students-cont h5 {
  font-size: 20px;
  font-family: inherit;
}
  .landing-stats {
  background-image: url("https://www.trainingexpress.org.uk/wp-content/uploads/2021/10/landing-stats-bg-1.png");
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  padding: 50px;
  background-attachment: fixed;
}
  .landing-stats svg {
  font-size: 60px;
}
  .landing-stats .stat {
  font-weight: bold;
  font-size: 60px;
  margin-top: 10px;
  color: #fff;
  margin-bottom: 0px;
  font-family: inherit;
}
  .landing-stats .description {
  font-size: 20px;
  color: #fff;
  font-family: inherit;
}
  .landingCourses .single {
  border: 2px solid #eee;
  border-radius: 15px;
  background: #fff;
  display: inline-block;
  width: 32%;
  margin-right: 1%;
  margin-bottom: 18px;
  vertical-align: top;
}
  .landingCourses .single .img {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 72px;
  background-size: cover;
  background-position: center center;
  float: left;
}
  .landingCourses .single .title {
  font-size: 16px;
  display: inline-block;
  padding: 10px 10px;
  width: calc(100% - 200px);
  padding-top: 11px;
}
  .wider-container {
  max-width: 9999px;
  padding: 0px 60px;
}
  .learn-container {
  margin: 40px 0;
}
  .faq-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .question-asked h5,
.question-asked p {
  font-family: inherit;
}

  .access-box .row {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/*=======================
           👇 Recommend friend CODE 👇
======================== */
  .link-box {
  display: inline-block;
  padding: 35px 0;
  width: 100%;
  border-radius: 15px;
  margin: 15px 0;
  border-width: 1px;
  border-style: dashed;
  border-color: #fff;
}
  .row.align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .row.align-items-center h1,
.row.align-items-center h2,
.row.align-items-center p {
  color: #fff;
  font-family: inherit;
}

/*=======================
      👇 offer CODE 👇
======================== */

  a.btn.btn-outline-primary.offer-btn {
  /* color: #259cc0 !important;
  background-color: transparent; */
  background-image: none;
  border-color: #259cc0;
  font-weight: 700;
  border-radius: 25px;
  width: 210px;
  max-width: 90%;
  border-width: 2px;
  margin: 15px 0;
}

  span.underlined {
  text-decoration: underline;
}

  .rewards-inner {
  position: relative;
}
  .rewards-inner .abs {
  position: absolute;
  left: 0;
  top: -20%;
}

  .text-center.offer-text p {
  font-family: inherit;
}
  .container-fluid .offer-box:last-child {
  margin-bottom: 40px;
}

  .student-card-black {
  background: url("https://www.trainingexpress.org.uk/wp-content/uploads/2021/10/student-card-bg.jpg")
    no-repeat;
  background-size: cover;
  border-radius: 25px;
  padding: 30px 30px 30px 30px !important;
}
  img.st-profile.bordered {
  border-radius: 100px;
}
  .st-card-logo.d-flex {
  display: flex;
  justify-content: space-between;
}
  .st-card-number {
  padding: 40px 0 40px 0;
  color: #ffffff;
  font-size: 35px;
  letter-spacing: 2px;
}
  .st-card-footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 400;
  display: flex;
}
  .st-card-footer.d-flex h4 {
  font-family: inherit;
  color: #fff;
}

  div#myCard {
  margin: 40px 0;
}
  div#myCard .row {
  display: flex;
}

/*=======================
           👇 OWL_SIR SP CODE 👇
======================== */

  .brand-log {
  width: 150px;
  height: 150px;
  padding: 5px;
  background: #ffffff;
  margin: auto;
  margin-top: -70px;
  box-shadow: 2px 1px 6px #c8c8c8;
  z-index: 2;
  position: relative;
}
  .wishlist:hover {
  background: #ff1d51;
  color: #ffffff;
}

  .wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  line-height: 55px;
  font-size: 22px;
  background: #f1efec;
  border-radius: 35px;
  text-align: center;
  color: #1a1a1a;
}
  .brand-text {
  padding: 20px 20px;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  height: 110px;
  font-weight: 600;
}

  .brand-text a:hover {
  color: #0056b3;
  text-decoration: underline;
}
  .cat-box {
  box-shadow: 2px 1px 6px #c8c8c8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 40px;
  position: relative;
}
  .content-owl-sir {
  background: #ffffff;
}

  button.owl-prev {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
  i.fas.fa-chevron-left {
  color: #248cab;
  font-size: 40px;
  opacity: 1;
  width: auto;
}
  .cat-box img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
  button.owl-next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
  i.fas.fa-chevron-right {
  color: #248cab;
  font-size: 40px;
  opacity: 1;
  width: auto;
}
  .owl-sir {
  margin: 40px 0;
}
  h2.latestDiscount-title {
  text-align: left;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: inherit;
}

  .img-box-gal .row {
  margin: 40px 0;
}
  .img-box-gal img {
  box-shadow: 2px 1px 6px #c8c8c8;
}
  .img-box-gal img {
  width: 100%;
  height: 193px;
  border-radius: 20px;
}

  .col-12.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  a.btn.btn-primary.text-uppercase.extra-radius.visit-xo {
  width: 50%;
  padding: 1% 0;
  margin: 2% 0;
  border-radius: 25px;
}
/*=======================
           👇 Profile CODE 👇
======================== */
  ul#myTab {
  border: none;
}
  ul#myTab li a {
  border: none;
}
  ul#myTab li a:hover {
  border: none;
  background-color: transparent;
}
  ul#myTab li.active,
ul#myTab li:hover {
  border-bottom: 3px solid #259cc0;
}
  ul#myTab li.active:after,
ul#myTab li:hover:after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #259cc0;
  position: absolute;
  bottom: -1px;
  left: calc(50% - 6px);
}
  #PD {
  background: white;
  margin: 40px;
  padding: 30px;
  border-radius: 15px;
}
  #PD label.form-check-label {
  display: flex;
}

  input.form-check-input {
  margin-right: 10px;
}
  .myDetail button.btn.btn-primary,
.change button.btn.btn-primary,
  .preferences button.btn.btn-primary {
  background-color: #248cab;
  border-color: #248cab;
  width: 100%;
  max-width: 160px;
}

  .exisiting-img {
  display: inline-table;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px 30px;
  border: 2px solid #248cab;
  border-radius: 15px;
  position: relative;
}

  .custom-file-label::after {
  content: "\f093" !important;
  font-weight: 900;
  font-family: "Font Awesome 5 Pro";
  background-color: #259cc0;
  border-left: 1px solid #259cc0;
  color: #ffffff;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  padding: 11px;
  position: absolute;
}
  label.custom-file-label {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 13px;
  width: 50%;
  position: relative;
}
  input#customFile {
  opacity: 0;
  position: relative;
}

  .change .form-group {
  margin: 20px 0;
}
/* swtich */
  .preferences .nsa-switch input:checked + .slider {
  background-color: #b2d489;
}
  .preferences .nsa-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
  .preferences .form-group.col-md-12 {
  display: flex;
  align-items: center;
}
  .preferences .nsa-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  .preferences .nsa-switch .slider.round:before {
  border-radius: 50%;
}
  .preferences .nsa-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
  .preferences .nsa-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
  .preferences .nsa-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
  .preferences .nsa-switch .slider.round {
  border-radius: 34px;
}
  .preferences input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
  .preferences .nsa-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

  ul#myTab li.help.active div#PD {
  background: transparent !important;
}
  .col-12.col-md-4.white-rounded {
  align-items: flex-start;
}
  .col-12.col-md-4.white-rounded .download-o p {
  font-family: inherit !important;
  font-size: 18px;
  font-weight: 300 !important;
  text-decoration: underline;
  line-height: 34px;
}

/* accordian box */
  .faqq .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: "Glyphicons Halflings"; /* essential for enabling glyphicon */
  content: "\e114"; /* adjust as needed, taken from bootstrap.css */
  float: right; /* adjust as needed */
  color: grey; /* adjust as needed */
}
  .faqq .panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}
  .faqq .panel-heading {
  padding: 22px;
}
/*===============================
              🎆 MEDIA TAB QUERY 🎆
================================ */
@media (min-width: 767px) and (max-width: 1024px) {
    .circle-box-percentage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
    .row.award-section .col-md-4 {
    margin: 40px 0;
  }
    .btn-expand-collapse {
    top: 7%;
  }
    .col-12.col-md-4.no-padding {
    padding: 0;
    margin: 15px 0;
  }
    .find-bg {
    margin-left: 0px;
  }
    #hero img {
    position: inherit;
    top: inherit;
    left: inherit;
    margin-top: 20px;
  }
    .landingCourses .single {
    width: 100%;
  }
    #hero .cta {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 41px;
    border: 3px solid #fff;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
  }
    .col-12.col-md-2.text-center img {
    width: inherit;
  }
    .brand-log {
    width: 50px;
    height: 50px;
    margin-top: -20px;
  }
    .wishlist {
    height: 30px;
    width: 30px;
    line-height: 36px;
  }
    .img-box-gal img {
    height: 100px;
    border-radius: 20px;
    margin: 2%;
  }
    .col-6.col-md-2.col-lg-2.mb-3.col-sm-3 {
    margin: 10px 0;
  }
    a.btn.btn-primary.text-uppercase.extra-radius.visit-xo {
    width: 100%;
    padding: 3% 0;
    margin: 3% 0;
    border-radius: 25px;
    font-size: 12px;
  }
}

/*===============================
              🎆 MEDIA MOBILE QUERY 🎆
================================ */
@media (min-width: 320px) and (max-width: 767px) {
    .circle-box-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

    .leaderBoard .useFlex {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0%;
  }
    .leaderBoard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
    .leaderBoard .notification {
    padding: 35px 15px 15px 25px;
    margin-bottom: 25px;
  }
    .btn-expand-collapse {
    top: 7%;
  }
    .col-12.col-md-4.no-padding {
    padding: 0;
    margin: 15px 0;
  }
    .find-bg {
    margin-left: 0px;
  }
    .panel-heading {
    flex-direction: column;
  }
    #accordion {
    width: 90%;
  }
    #hero img {
    position: inherit;
    top: inherit;
    left: inherit;
    width: 100%;
    display: block;
    margin-top: 31%;
  }
    .landingCourses .single {
    width: 100%;
  }
    #hero h1 {
    font-size: 20px;
  }
    #hero .cta {
    font-size: 10px;
    padding: 10px;
  }
    .access-box .row {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
  }
    .con-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
    .landing-stats {
    padding: 20px;
  }
    .wider-container {
    padding: 20px;
  }
    .landing-stats .stat {
    font-size: 20px;
  }
    .landingCourses .single .img {
    width: 100%;
  }
    .landingCourses .single .title {
    width: 100%;
  }
    h2.section-title.wow.fadeIn {
    font-size: 18px;
  }
    #landing {
    padding: 0 20px;
  }
    #hero .cta {
    display: block;
  }
    .row.align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    h1.text-uppercase {
    font-size: 16px;
  }
    .col-12.col-md-5.text-center.recommend-text {
    width: 100%;
  }
    .col-6.col-md-2.col-lg-2.mb-3.col-sm-3 {
    margin: 10px 0;
  }
    .img-box-gal img {
    width: 80%;
    height: 100px;
    border-radius: 20px;
    margin: 2%;
  }
    .img-box-gal .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    .brand-log {
    width: 50px;
    height: 50px;
    margin-top: -20px;
  }

    .wishlist {
    height: 30px;
    width: 30px;
    line-height: 33px;
    font-size: 12px;
  }
    a.btn.btn-primary.text-uppercase.extra-radius.visit-xo {
    width: 100%;
    padding: 3% 0;
    margin: 3% 0;
    border-radius: 25px;
    font-size: 12px;
  }
    #PD {
    background: white;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
  }
    label.custom-file-label {
    width: 100%;
  }
    .Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .leaderBoard table.table tbody tr th {
    font-size: 1rem
  }
    .certificate-list table {
    display: block;
  }
     .certificate-list tbody {
    display: block;
  }

   .certificate-list table thead {
    display: none;
  }

    .certificate-list table tr {
    margin: 10px 0;
    display: block;
    border-bottom: 2px solid #ddd;
  }

    .certificate-list table td {
    display: block;
    text-align: right;
    font-size: 13px;
    text-align: end;
  }

    .certificate-list table td:last-child {
    border-bottom: 0;
  }

    .certificate-list table td::before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
    .rewards-inner {

    text-align: center;
}
}
/* Custom New Edit */
form.sa-learners-edit-user {
  display: flex;
  flex-direction: column;
}
/* toast */
.alert-container,
a {
  font-family: helvetica, arial;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.alert-container,
a {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.alert-container,
a {
  /* background-color: #5f7c8a; */
  /* color: #f8f8f8; */
  /* border: 1px solid #516a76; */
}

.alert-container {
  position: fixed;
  top: 5%;
  right: 1%;
  /* width: 50%; */
  /* margin: 0 25% 0 25%; */
  z-index: 9999;
}
.alert-container .alert {
  text-align: center;
  padding: 17px 0 15px 0;
  /* margin: 0 25% 0 25%; */
  /* height: 54px; */
  font-size: 18px;
  width: 30rem;
}
.leaderBoard th,
.leaderBoard h3 {
  color: black;
}
/* progress bar */
.circular-progress {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 70%;
  background-color: #ffffff;
  border-radius: 50%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #231c3d;
}

.sal-subscription-wrap table {
  /* border-collapse: collapse; */
  width: 100%;
}

.sal-subscription-wrap td {
  text-align: left;
}

/* select */
select#sa_user_reward {
  border: none;
}

select#sa_user_reward option {
  color: black;
}
img.not-earned {
  opacity: 0.5;
}

/* hide sidebar in small device */

@media (max-width: 767px) {
  .navbar-primary,.navbar-pc {
    display: none;
  }
  .top-nav-mobile {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-mobile{
    display: block !important;
  }
  .navbar-mobile li{
    text-align: justify;
  }
  /* nav nar full height */
  /* .navbar-collapse {
    height: 100% !important;
  } */
  .top-nav-logo {
    display: block !important;
    max-width: 150px !important;
  }
    .collapsed + .main-content {
margin-left: 0px;
  }
}

/* course card my courses */
.sa-custom-course-button form {
  margin: 0;
}
.sa-custom-course-button .button {
  background-color: #F0E400;
  color: #000;
  border-radius: 25px;
  text-decoration: none;
}
.sa-custom-course-button .button:hover {
  background-color: #fff;

}
/* dashboard  page */
.allcourse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}