.sa-learners-dashboard-sidebar{
    background-color: #003a59;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 8;
    overflow-y: auto;
    overflow-x: hidden;
}