
.sa-learners-dashboard-sidebar{
    position: sticky;
    top: 0;
    background-color: #003a59;
    height: 100vh;
    width: 300px;
    z-index: 999999;
    overflow: hidden auto;
    transition: all 0.3s ease-in-out;
}

.sa-learners-dashboard-sidebar .nav-link.active {
    background-color: #ffffff ;
    border-radius: 25px 0 0 25px;
    color: #000;
}

.sa-learners-dashboard-sidebar .sa-sidebar-item{
    padding-left: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.sa-learners-dashboard-sidebar .sa-sidebar-item:hover{

    border-radius: 25px 0 0 25px;
    background-color: #ffffff;
    color: #000;
}
a.sa-sidebar-btn-expand {
    position: absolute;
    top: 10%;
    right: -20px;
    background-color: #7BA631;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid;
    color: #fff;
}
a.sa-sidebar-btn-expand:hover {

    background-color: #fff;
    color: #7BA631;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.sa-learners-dashboard-sidebar.sa-sidebar-expand{
    width: 100px;
    transition: all 0.3s ease-in-out;
}

.sa-learners-dashboard-sidebar.sa-sidebar-expand .sa-sidebar-item span{
    display: none;
    transition: all 0.3s ease-in-out;
}
.sa-learners-dashboard-sidebar.sa-sidebar-expand .sa-sidebar-item i{
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.sa-learners-dashboard-sidebar.sa-sidebar-expand .fa-angle-double-left{
    transform: rotate(180deg);
}